#cloud-config
runcmd:
  - curl -sL https://deb.nodesource.com/setup_13.x | sudo -E bash -
  - apt-get update
  - apt-get install -y unzip nodejs
  - mkdir /var/www
  - wget https://github.com/jpemberton1-chwy/cms-app/archive/${tag}.zip
  - unzip ${tag}.zip
  - mv cms-app-${tag} /var/www/app
  - cd /var/www/app
  - npm install
  - npm run start

