#cloud-config
runcmd:
  - apt-get update
  - curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.35.3/install.sh | bash
  - source ~/.bashrc
  - nvm install 13
  - mkdir /var/repo/app
  - mkdir /var/www/app
  - git init --bare /var/repo/app
  - printf "#!/bin/sh\n" >> /var/repo/app/hooks/post-receive
  - printf ". $HOME/.nvm/nvm.sh\n" >> /var/repo/app/hooks/post-receive
  - printf "nvm install 13" >> /var/repo/app/hooks/post-receive
  - printf "git --work-tree/var/repo/app --git-dir=/var/www/app checkout -f\n" >> /var/repo/app/hooks/post-receive
  - printf "npm install\n" >> /var/repo/app/hooks/post-receive
  - printf "npm run start" >> /var/repo/app/hooks/post-receive
