#cloud-config
runcmd:
  - apt-get update
  - apt-get install -y unzip
  - curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.35.3/install.sh | bash
  - source ~/.bashrc
  - nvm install 13
  - wget https://github.com/jpemberton1-chwy/cms-app/archive/${tag}.zip
  - unzip ${tag}.zip
  - mv cms-app-${tag} /var/www/app
  - cd /var/www/app
  - npm run start

