#cloud-config
runcmd:
  - apt-get update
  - curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.35.3/install.sh | bash
  - source ~/.bashrc
  - nvm install 13
  - mkdir /var/repo/app
  - mkdir /var/www/app
  - printf "source /users/root/.bashrc\ngit --work-tree/var/repo/app --git-dir=/var/www/app checkout -f\nnpm run start" > hooks/post-receive
